git+https://github.com/gizellavp/BotTelegram.git
telebot
telegram
requests
requests-oauthlib
requests-unixsocke
gspread
gspread-dataframe
oauth2client
pandas
matplotlib
numpy
dataframe-image
